* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  display: inline-flex;
  flex-wrap: wrap;
  width: 100vw;
 justify-content: space-between;
 align-items: center;
}

.firsta {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 3vw;
}

.midas {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-size: medium;
    margin-right: 2vw;
    margin-left: 3vw;
}

.lasta {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: white 1px solid;
  padding: 1vh 3vw;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
}

.midaswrapper{
display: flex;
justify-content: space-evenly;
}

a,div {
  text-decoration: none;
  font-size: x-large;
  color: white;
  margin: 20px 0;
}
